* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#box {
    width: 5rem;
    height: 5rem;
    background-color: dodgerblue;
    text-align: center;
    color: white;
    padding: 2rem 0;
    position: absolute;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#box:hover {
    cursor: move;
}

#container{
    background-color: black;
    width: 40rem;
    height: 25rem;
    /*position: relative;*/
}